<ion-view view-title="Creditors">
    <ion-content >
    

          <input type = "text" name = "search" placeholder="Search" ng-model="search">
                     
                       <div ng-show="showme" class="boxme">
                         <div ng-switch = "(response| filter:search).length">
                         <span ng-switch-when="0"> <p class = "message">Sorry ! Nothing was found</p></span>
              
                     <div ng-animate="'animate'"  ng-repeat= "responses in response | orderBy:'lname'|filter:search"  class="repeated-item" >
                     
                        
                           
                            
                <a href="#/app/profile" class=" waves-effect waves-green item  item-icon-right">
                       

                    <h3 class = "lname"><b>{{responses.lname}}</b></h3>
                    <p class = "city">{{responses.city}}</p>
                   
                    <i class="icon"> <p class = "bal"> {{responses.baltype}}</p></i>
                    
                </a>

            

                   </div>
               </div>

     

                  <!--


                  
                 <a class="waves-effect waves-green " href="#/app/profile">
       
                
       
                 
                  <li class="collection-item">   
                    <h3>{{responses.lname}}</h3>
                    <p>{{responses.city}}</p>
                
                  </li>     
                  </a>
                  !-->
                
        
   
       
    </ion-content>
</ion-view>

