<ion-view view-title="Debtors">
    <ion-content ng-class="{expanded:isExpanded}">
       
       
<label class = "item item-input item-floating-label">
       <div class="input-field col s12">
            <i class="material-icons prefix">search</i>  
           <input type = "text" name = "Search.lname" placeholder="Search" ng-model="search"  >
         
      <p>
       <h4>search by: </h4>
          <input class="with-gap" name="group1"  ng-model="value"  type="radio" id="test1" checked="checked"  />
          <label for="test1">Name</label>
       
      <input class="with-gap" name="group1" type="radio" id="test2" />
      <label for="test2">City</label>
   </p>
         </label>
     
                   
       <ul class="collection">  
        
             <div class="card-panel">
                  <div  ng-repeat= "responses in response | orderBy:'lname'|filter:search">
                  
                 <a class="waves-effect waves-green " href="#/app/profile">
       
                
       
                 
                  <li class="collection-item">   
                    <h3>{{responses.lname}}</h3>
                    <p>{{responses.city}}</p>
                      {{responses.baltype  }}
                  
                  </li>     
                  </a>
                  </div>
                  </div>
                  </ul>

       </div>
       
       
       </div>

           


    </ion-content>
</ion-view>



