<ion-view view-title="Services">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list half">
            <div ui-sref="app.debtors" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Debtors</h2>
                    <img class="full-image" src="img/debtor.png">
                </div>
              
            </div>
            <div ui-sref="app.cheque" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Cheque</h2>
                    <img class="full-image" src="img/cheq.png">
                </div>
              
            </div>
              <div ui-sref="app.sales" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Sales</h2>
                    <img class="full-image" src="img/sale.png">
                </div>
              
            </div>
           
           

        </div>
        <div class="list half">
            <div ui-sref="app.creditor" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Creditors</h2>
                    <img class="full-image" src="img/creditors.png">
                </div>
               
            </div>
            <div ui-sref="app.inventory" class="card card-gallery item item-text-wrap">
                 <div class="ink dark-bg">
                    <h2>Inventory</h2>
                    <img class="full-image" src="img/inventory.png">
      




























                </div>
                </div>
                <div ui-sref="app.receipt" class="card card-gallery item item-text-wrap">
                 <div class="ink dark-bg">
                    <h2>Receipt</h2>
                    <img class="full-image" src="img/receipt1.png">
                </div>
                </div>
               
            </div>
        </div>
    </ion-content>
</ion-view>
