
<ion-view view-title="Dashboard">
       <ion-nav-bar class="bar bar-header bar-positive"  align-title="left">

</ion-nav-bar>
        <ion-side-menu side="left"  width="220" is-enabled = "{{enable}}">
        </ion-side-menu>
   
     <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left" ng-hide = "{{hide}}">
                </button>
            </ion-nav-buttons>



    <ion-content >
     
    
  
<center><p><b>Cash Status In Laks</p></b></center>
<canvas id="bar" class="chart chart-bar"
 chart-data="cashdata" chart-labels="labels" chart-legend="true" chart-series="series"
  >
</canvas>
</br>
</br>
<center><p><b>Bank Status In Laks</p><b></center>
<canvas id="bar" class="chart chart-bar"
 chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series"
  >
</canvas>

</br>
</br>
<center><p><b>Sale and Purchase Status In Laks</b></p></center>

<canvas id="bar" class="chart chart-bar"
 chart-data="PSdata" chart-labels="labels" chart-legend="true" chart-series="PSseries"
  >
</canvas>

</br>
</br>
<center><b><p>Debtors Status In Laks</p></b></center>

<canvas id="bar" class="chart chart-bar"
 chart-data="dbdata" chart-labels="labels" chart-legend="true" chart-series="series"
  >
</canvas>

</br>
</br>
<center><b><p>Creditors Status In Laks</p></b></center>

<canvas id="bar" class="chart chart-bar"
 chart-data="credata" chart-labels="labels" chart-legend="true" chart-series="series"
  >
</canvas>




   </ion-content>

</ion-view>
