<ion-view view-title="Others">
   <ion-nav-bar class="bar bar-header bar-calm"  align-title="left">

</ion-nav-bar>
<ion-nav-back-button class="no-text">
           
            </ion-nav-back-button>
    <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left" ng-hide = "{{hide}}">
                </button>
            </ion-nav-buttons>
    <ion-content >
    

          <input type = "text" name = "search" placeholder="Search" ng-model="search">
                     
              <div class = "divider"></div>
                   <div class = "divider"></div>
                <div class = "row">
             <div class = "col-50">
              <div class = "total"><b>{{total}} </b></div>
             </div>
           
               <div class = "col-50">
                <div class = "sum"><b>{{resultValue |sumOfValuedash:'baltype'}}</b></div>
             </div>
              
            </div>
                       <div ng-show="showme" class="boxme">
                         <div ng-switch = "(response| filter:search).length">
                         <span ng-switch-when="0"> <p class = "message">Sorry ! Nothing was found</p></span>
             
                     <div ng-animate="'animate'"  ng-repeat= "responses in resultValue = ( response |  filter:search ) "  class="repeated-item" >
                     
                        
                           
                            
                              
                <a ui-sref="app.transactionOther" ng-click="id(responses.id,responses.lname,responses.city)" >
                           <div class  = "divider"></div>
                           <div class = "row">
                              <div class = "col col-80">

                    <div class = "company"><b>{{responses.lname}}</b>  </div>
                     
                   </div>
                    
                     <div class = "col-20">

                        <div class = "credit"> <b>{{responses.baltype}}</b></div>
                     </div>
                     </div>
                        <div class = "col col-90">
                      <div class = "Add"> &nbsp;{{responses.city}} </div>
                        </div>
      </a>


            

                   </div>
               </div>


                  <!--
                  
                 <a class="waves-effect waves-green " href="#/app/profile">
       
                
       
                 
                  <li class="collection-item">   
                    <h3>{{responses.lname}}</h3>
                    <p>{{responses.city}}</p>
                
                  </li>     
                  </a>
                  !-->
                
        
   
       
    </ion-content>
</ion-view>
