<ion-view view-title="Voucher">
    <ion-nav-bar class="bar bar-header bar-dark"  align-title="left">

</ion-nav-bar>
    <ion-content >
    


                              
           <div class = "Searchcheque">



          <input type = "text" name = "search" placeholder="Search" ng-model="search">
            </div> 

<div class = "container4">
 <div ng-animate="'animate'"  ng-repeat= "responses in response|limitTo : 1"  class="repeated-item" >

<div class = "row">
   <div class = "col-25">
   <div class = "date"> <b>Date:</b></div></br>
   </div>
<div class = "col-25">
  <div class = "date1">  <b> {{responses.date}}</b></div>
   </div>
<div class = "col-25">
  <b><div class = "balance">Type:</div></b> 
   </div>
<div class = "col-25">
 <div class = "balance"> <b> {{responses.typ}}</b></div>
   </div>
  
   
   
   
    </div>
 
<div class = "row">
   <div class = "col-25">
   <div class = "date"> <b>Number:</b></div></br>
</div>
   <div class = "col-25">
   <div class = "vchno"> <b>{{responses.voucher}}</b></div></br>
</div>

</div>

   </div>
 </div>

   
     <div class = "container1">
          

            <div class = "row">
          
                    <div class = "col-33">   
                   Description
                     </div>
                     <div class = "col-33"> 
                      Debit
                      </div>
                    

                       <div class = "col-33"> 
                       Credit
                      </div>
                       
                      </div>
                      </div>

                       <div ng-show="showme" class="boxme">
                         <div ng-switch = "(response| filter:search).length">
                         <span ng-switch-when="0"> <p class = "message">Sorry ! Nothing was found</p></span>
               



                     <div class = "container2">
               
                     <div ng-animate="'animate'"  ng-repeat= "responses in response | orderBy:'lname'|filter:search"  class="repeated-item" >
                     
                        
                      
                  <a href="#">
               
                   <div class = "divider"></div>
                   <div class = "row">
                  
                  <div class = "col-33">
                <div class = "date">{{responses.cd}} </div>   
                <div class = "company"><b>   {{responses.lname}} </b></div>                    
                      
                <div class = "Add"><b>   {{responses.ladd}} </b></div>                    
                      </div>
                      
                  
                   <div class = "col-33">
                    
                     <div class = "vch">   <b> {{responses.debit}} </b></div>
                
                  </div>
                   
                      
                
                  
                  <div class = "col-33">

                <div class = "credit">    <b> {{responses.credit}}</b> </div>
                   </div>
               

                   </div>
                
                   
                 
                   


                 
                   
                </a>
              
            
              
            

                   </div>
               </div>


                  <!--
                  
                 <a class="waves-effect waves-green " href="#/app/profile">
       
                
       
                 
                  <li class="collection-item">   
                    <h3>{{responses.lname}}</h3>
                    <p>{{responses.city}}</p>
                
                  </li>     
                  </a>
                  !-->
                
        
   
       
    </ion-content>
</ion-view>
