<ion-view view-title="Register">
<ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
<div class="app-icon"></div>
 <ion-list class = "animate-ripple">
 <div class = "list">
        <label class = "item item-input item-floating-label">
        <span class = "input-label" style="color:black;font-weight:bold">
         Login Id
         </span>

           <input type = "text" placeholder="Login Id ">
         </label>
         </div>
         <div class = "list">
        <label class = "item item-input item-floating-label">
        <span class = "input-label" style="color:black;font-weight:bold">
        Branch </h1> 
        </span>

           <input type = "text" placeholder="Branch ">
         </label>
         </div>
          <div class = "list">
        <label class = "item item-input item-floating-label">
        <span class = "input-label" style="color:black;font-weight:bold">
      User Id </h1> 
        </span>

           <input type = "text" placeholder="User Id ">
         </label>
         </div>

         <div class = "list">
        <label class = "item item-input item-floating-label">
        <span class = "input-label" style="color:black;font-weight:bold">
        Password</h1> 
        </span>

           <input type = "password" placeholder="Password">
         </label>
         </div>
          <div class = "list">
         <div class="padding">
            <button ui-sref="app.gallery" class="button button-full button-royal ink">Register</button>
        </div>
          
             </div>



</ion-content>