
<ion-view view-title="Register">

<form name = "myform" novalidate>


<ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
<div class="app-icon1"></div>


<ion-list class = "animate-ripple">

 

 <div class = "list">
 
 <label class = "item item-input item-floating-label">
        <span class = "input-label" style="color:black;font-weight:bold" >
         Login Id
        </span>
              
           <input type = "text" name = "login" placeholder="Login Id " ng-model="loginid" valid-number ng-maxlength = "6" ng-minlength = "6" ng-required = "true"  required >
         
         </label>
          <div ng-messages="myform.login.$error" ng-messages-multiple>
      <div ng-message="required">
         <div class = "error-messages1"  ng-show = "myform.login.$invalid&&myform.login.$touched">Login id  required</div>
         </div>
      <div ng-message="minlength">
         <div class = "error-messages1"  ng-show = "myform.login.$invalid&&myform.login.$touched">Login id Not valid</div>
         </div>
      <div ng-message="maxlength">
         <div class = "error-messages1"  ng-show = "myform.login.$invalid&&myform.login.$touched">Login id  Not valid</div>
         </div>
         
</div>


         
        <label class = "item item-input item-floating-label">
        <span class = "input-label" style="color:black;font-weight:bold" >
        Branch
        </span>

           <input type = "text" name = "branch" placeholder="Branch" ng-model = "branchid" ng-required = "true" />
         </label>
         <div ng-messages="myform.login.$error" ng-messages-multiple>
      <div ng-message="required">
         <div class = "error-messages1"  ng-show = "myform.branch.$invalid&&myform.branch.$touched">branch id required</div>
         </div>
      
         </div>



        <label class = "item item-input item-floating-label">
        <span class = "input-label" style="color:black;font-weight:bold">
      User Id  
        </span>

           <input type = "text" name = "userid" placeholder="User Id" ng-model = "userid" ng-required = "true">
         </label>
      <div ng-messages="myform.userid.$error" ng-messages-multiple>
      <div ng-message="required">
         <div class = "error-messages1"  ng-show = "myform.userid.$invalid&&myform.userid.$touched">User id required</div>
         </div>
      
         </div>
 


        <label class = "item item-input item-floating-label">
        <span class = "input-label" style="color:black;font-weight:bold">
        Password
        </span>

           <input type = "password" name = "password" placeholder="Password" ng-model = "user.password" 
           ng-required = "true" ng-minlength = "6">
         </label>
 <div ng-messages="myform.password.$error" ng-messages-multiple>
      <div ng-message="required">
         <div class = "error-messages1"  ng-show = "myform.password.$invalid&&myform.password.$touched">Password must be atleast 6 characters</div>
         </div>
      
         </div>

          



         <div class="padding">
            <button ui-sref="app.gallery" class="button button-full button-royal in" ng-disabled = "myform.$invalid" ng-click = "makeTextFile({{text}})">Register</button>                  
        </div>
          </div>








 </ion-list>











</ion-content>
</form>
</ion-view>
