
<ion-view view-title="{{name}}">
      <ion-nav-bar class="bar bar-header bar-assertive"  align-title="left">
      <i class="icon ion-android-share-alt"></i>
      </ion-nav-bar>
  <ion-nav-buttons side="right">
       <button class="button button-icon button-clear icon ion-document-text" menu-toggle="right"  
      ng-click="doc()" ng-hide = "{{hide}}">
                </button>

        <button class="button button-icon button-clear icon ion-android-share-alt" menu-toggle="right"  ng-click = "share()" ng-hide = "{{hide}}">
                </button>        

                            </ion-nav-buttons>
    <ion-content >
   
   

           <div class = "Searchcheque">

                       
          <input type = "text" name = "search" placeholder="Search" ng-model="search">
            </div>      

     <div class = "container1">
            <div class = "row">
          
                    <div class = "col-20">   
                   DATE
                     </div>
                     <div class = "col-20"> 
                      TYPE
                      </div>
                    

                       <div class = "col-20"> 
                 <div class = "debit1">  RECEIVE </div>
                      </div>
                       <div class = "col-20"> 
             <div class = "credit1">      ISSUE </div>
                      </div>
                       <div class = "col-20"> 
            <div class = "balance1">      BALANCE </div>
                      </div>

                      </div>
                      </div>

                       <div ng-show="showme" class="boxme">
                         <div ng-switch = "(response| filter:search).length">
                         <span ng-switch-when="0"> <p class = "message">Sorry ! Nothing was found</p></span>
               



                     <div class = "container2">
               
                     <div ng-animate="'animate'"  ng-repeat= "responses in response | orderBy:'lname'|filter:search"  class="repeated-item" >
                     
                        
                      
                  <a ui-sref="app.inventoryVoucher" ng-click="voucher(responses.voucher)">
               
                   <div class = "divider"></div>
                  <div class = "row">
                  
                  <div class = "col-20">
                <div class = "date"> <b>{{responses.date}}</b></div>
               
                      </div>
                     
                  
                   <div class = "col-20">
                    
                     <div class = "vch">   <b> {{responses.typ}} </b></div>
                
                  </div>
                   
                      
                
                  
                  <div class = "col-20">

                <div class = "credit">    <b> {{responses.debit}}</b> </div>
                   </div>
                   <div class = "col-20">

              
                <div class = "credit">    <b>{{responses.credit}} </b> </div>
                   </div>

                  <div class = "col-20">

              
                <div class = "balance">    <b>{{responses.balance}} </b> </div>
                   </div>

                   </div>
                
                   <div class = "row">
                  <div class = "col" >
            
             <div class = "vchno"> <b>{{responses.ledName}}</b></div> 
                                              
                      </div>
                   </div>                                                                                                                                                                                                                                                       
                </a>
   


    </ion-content>
</ion-view>
