<ion-view view-title="Version">
   <ion-nav-bar class="bar  bar-header bar-balanced"  align-title="left">

</ion-nav-bar>

    
    <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left" ng-hide =  "false">
                </button>
            </ion-nav-buttons>
<ion-content>
            <div class = "app-icon"></div>
           
  <div class = "row">          
                        <div class = "col-50">   
                   <div class = "balance">  APP Name : </div>
                     </div>
                     <div class = "col-50"> 
                    &nbsp; &nbsp;   Waves  
                      </div>
                      </div>

 <div class = "row"> 
 </div>

            <div class = "row">

                    <div class = "col-50">   
                 <div class = "balance"> APP Version:</div>
                     </div>
                     <div class = "col-50"> 
                   &nbsp; &nbsp;  <i class="icon ion-arrow-graph-up-right"></i>   {{version}}
                      </div>
                    </div>

                  
<div class = "row">
  <div class = "col-50">   
                 <div class = "balance">Hemant Tailor:</div>
                     </div>
                     <div class = "col-50"> 
                   &nbsp; &nbsp;<i class="icon ion-ios-telephone material-icons prefix" ></i> <b> 9829577430 </b>
                      </div>
                    
                      </div>


<div class = "row">
  <div class = "col-50">   
                 <div class = "balance">Yogesh Tailor:</div>
                     </div>
                     <div class = "col-50"> 
                  &nbsp; &nbsp;<i class="icon ion-ios-telephone material-icons prefix" ></i> <b> 9782302365</b> </div>
                      </div>
                    
                     

<div class = "row">
  <div class = "col-50">   
                 <div class = "balance">Address:</div>
                     </div>
                     <div class = "col-50"> 
                  &nbsp; &nbsp; <b>Waves Compusoft Pvt LTd. </b><br>
                   H1-32 IT Park Udaipur Rajasthan
                   </div>
                      </div>
                    

</ion-content>
      </ion-view>