<ion-view view-title="Version">
   <ion-nav-bar class="bar  bar-header bar-balanced"  align-title="left">

</ion-nav-bar>

    
    <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left" ng-hide =  "false">
                </button>
            </ion-nav-buttons>
<ion-content>
          
            <div  class="boxmee">
             
  <div class="row1">
        <div class="col col-100">
          <div class="card">
           
            <div class="card-content">
                 <div class="image">
     <center> <img  src="img/waves.png"></center>
    </div>

                
                  
                   <center> <span class="card-title">Version:<i class="icon ion-arrow-graph-up-right"></i>    <b>{{version}} </b>   </span> </center>
                     
            </div>
           
          </div>
        </div>
      </div>
            

<div class="row1">
        <div class="col col-100">
          <div class="card">
           
            <div class="card-content">
             
                  <center> <span class="card-title">Waves Compusoft Pvt. Ltd.</span> 
                <p><i class="icon ion-home material-icons prefix"></i>&nbsp;   <b> H1-32 IT Park Udaipur Rajasthan</b></p>
                  </center>
              </br>
             <center>
           <i class="icon ion-earth material-icons prefix"></i>&nbsp;   <a  href="" onclick="window.open('http://wavescompusoft.com', '_system', 'location=yes'); return false;">
             www.wavecompusoft.com
            </a>
            </center>
            </div>
           
          </div>
        </div>
      </div>
      


 <div class="row1">
       <div class = "col col-50">
          <div class="card ">
            <div class="card-content black-text">
             <center> <span class="card-title">Director</span> </center>
              <p> <i class="icon ion-person"></i>&nbsp; &nbsp;Hemant Tailor</p>
              <p><i class="icon ion-ios-telephone material-icons prefix" ></i> &nbsp; &nbsp; <b> 9829577430 </b></p>
            </div>
            
          </div>
        </div>
      
       <div class = "col col-50">
          <div class="card ">
            <div class="card-content black-text">
            <center>  <span class="card-title">Support</span> </center>
               <p> <i class="icon ion-person"></i>&nbsp; &nbsp;Yogesh Tailor</p>
              <p> <i class="icon ion-ios-telephone material-icons prefix" ></i>&nbsp; &nbsp; <b> 9782302365</b></p>

            </div>
            
          </div>
        </div>
      

      </div>
            





  
    
</ion-content>
      </ion-view>