<ion-view view-title="Version">
   <ion-nav-bar class="bar  bar-header bar-balanced"  align-title="left">

</ion-nav-bar>

    
    <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left" ng-hide =  "false">
                </button>
            </ion-nav-buttons>
<ion-content>
            <div class = "app-icon"></div>
           
  <div class = "row">          
                        <div class = "col-50">   
                   <div class = "balance">  APP Name : </div>
                     </div>
                     <div class = "col-50"> 
                      Waves
                      </div>
                      </div>



            <div class = "row">

                    <div class = "col-50">   
                 <div class = "balance"> APP Version:</div>
                     </div>
                     <div class = "col-50"> 
                    {{version}}
                      </div>
                    </div>

                  


                    
                      </div>
</ion-content>
      </ion-view>